In [1]:
!pip install ipython-sql
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\dude\appdata\roaming\python\python38\site-packages (0.5.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dude\appdata\roaming\python\python38\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: ipython in c:\users\dude\anaconda3\lib\site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: prettytable in c:\users\dude\appdata\roaming\python\python38\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: six in c:\users\dude\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in c:\users\dude\appdata\roaming\python\python38\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: ipython-genutils in c:\users\dude\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17; python_version < "3.14" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in c:\users\dude\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.16)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dude\appdata\roaming\python\python38\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: backcall in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.6.1)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.3)
Requirement already satisfied: jedi>=0.10 in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.17.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (49.2.0.post20200714)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: pickleshare in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: wcwidth in c:\users\dude\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\dude\anaconda3\lib\site-packages (from jedi>=0.10->ipython->ipython-sql) (0.7.0)

C:\Users\Dude\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
import csv, sqlite3

con = sqlite3.connect("SQLiteMagic.db")
cur = con.cursor()

In [3]:
%sql sqlite:///SQLiteMagic.db

In [4]:
%%sql

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48),
('United States', 'Tiffie', 'Cosely', 58),
('Poland', 'Auroora', 'Stiffell', 45),
('China', 'Clarita', 'Huet', 52),
('Poland', 'Shannon', 'Goulden', 45),
('Philippines', 'Emylee', 'Privost', 50),
('France', 'Madelina', 'Burk', 49),
('China', 'Saunderson', 'Root', 58),
('Indonesia', 'Bo', 'Waring', 55),
('China', 'Hollis', 'Domotor', 45),
('Russia', 'Robbie', 'Collip', 46),
('Philippines', 'Davon', 'Donisi', 46),
('China', 'Cristabel', 'Radeliffe', 48),
('China', 'Wallis', 'Bartleet', 58),
('Moldova', 'Arleen', 'Stailey', 38),
('Ireland', 'Mendel', 'Grumble', 58),
('China', 'Sallyann', 'Exley', 51),
('Mexico', 'Kain', 'Swaite', 46),
('Indonesia', 'Alonso', 'Bulteel', 45),
('Armenia', 'Anatol', 'Tankus', 51),
('Indonesia', 'Coralyn', 'Dawkins', 48),
('China', 'Deanne', 'Edwinson', 45),
('China', 'Georgiana', 'Epple', 51),
('Portugal', 'Bartlet', 'Breese', 56),
('Azerbaijan', 'Idalina', 'Lukash', 50),
('France', 'Livvie', 'Flory', 54),
('Malaysia', 'Nonie', 'Borit', 48),
('Indonesia', 'Clio', 'Mugg', 47),
('Brazil', 'Westley', 'Measor', 48),
('Philippines', 'Katrinka', 'Sibbert', 51),
('Poland', 'Valentia', 'Mounch', 50),
('Norway', 'Sheilah', 'Hedditch', 53),
('Papua New Guinea', 'Itch', 'Jubb', 50),
('Latvia', 'Stesha', 'Garnson', 53),
('Canada', 'Cristionna', 'Wadmore', 46),
('China', 'Lianna', 'Gatward', 43),
('Guatemala', 'Tanney', 'Vials', 48),
('France', 'Alma', 'Zavittieri', 44),
('China', 'Alvira', 'Tamas', 50),
('United States', 'Shanon', 'Peres', 45),
('Sweden', 'Maisey', 'Lynas', 53),
('Indonesia', 'Kip', 'Hothersall', 46),
('China', 'Cash', 'Landis', 48),
('Panama', 'Kennith', 'Digance', 45),
('China', 'Ulberto', 'Riggeard', 48),
('Switzerland', 'Judy', 'Gilligan', 49),
('Philippines', 'Tod', 'Trevaskus', 52),
('Brazil', 'Herold', 'Heggs', 44),
('Latvia', 'Verney', 'Note', 50),
('Poland', 'Temp', 'Ribey', 50),
('China', 'Conroy', 'Egdal', 48),
('Japan', 'Gabie', 'Alessandone', 47),
('Ukraine', 'Devlen', 'Chaperlin', 54),
('France', 'Babbette', 'Turner', 51),
('Czech Republic', 'Virgil', 'Scotney', 52),
('Tajikistan', 'Zorina', 'Bedow', 49),
('China', 'Aidan', 'Rudeyeard', 50),
('Ireland', 'Saunder', 'MacLice', 48),
('France', 'Waly', 'Brunstan', 53),
('China', 'Gisele', 'Enns', 52),
('Peru', 'Mina', 'Winchester', 48),
('Japan', 'Torie', 'MacShirrie', 50),
('Russia', 'Benjamen', 'Kenford', 51),
('China', 'Etan', 'Burn', 53),
('Russia', 'Merralee', 'Chaperlin', 38),
('Indonesia', 'Lanny', 'Malam', 49),
('Canada', 'Wilhelm', 'Deeprose', 54),
('Czech Republic', 'Lari', 'Hillhouse', 48),
('China', 'Ossie', 'Woodley', 52),
('Macedonia', 'April', 'Tyer', 50),
('Vietnam', 'Madelon', 'Dansey', 53),
('Ukraine', 'Korella', 'McNamee', 52),
('Jamaica', 'Linnea', 'Cannam', 43),
('China', 'Mart', 'Coling', 52),
('Indonesia', 'Marna', 'Causbey', 47),
('China', 'Berni', 'Daintier', 55),
('Poland', 'Cynthia', 'Hassell', 49),
('Canada', 'Carma', 'Schule', 49),
('Indonesia', 'Malia', 'Blight', 48),
('China', 'Paulo', 'Seivertsen', 47),
('Niger', 'Kaylee', 'Hearley', 54),
('Japan', 'Maure', 'Jandak', 46),
('Argentina', 'Foss', 'Feavers', 45),
('Venezuela', 'Ron', 'Leggitt', 60),
('Russia', 'Flint', 'Gokes', 40),
('China', 'Linet', 'Conelly', 52),
('Philippines', 'Nikolas', 'Birtwell', 57),
('Australia', 'Eduard', 'Leipelt', 53)

 * sqlite:///SQLiteMagic.db
Done.
99 rows affected.

[]

In [5]:
# Install the 'ipython-sql' and 'prettytable' libraries using pip
!pip install ipython-sql prettytable

# Import the 'prettytable' library, which is used to display data in a formatted table
import prettytable

# Set the default display format for prettytable to 'DEFAULT' (i.e., a simple table format)
prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\dude\appdata\roaming\python\python38\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\dude\appdata\roaming\python\python38\site-packages (3.11.0)
Requirement already satisfied: sqlparse in c:\users\dude\appdata\roaming\python\python38\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: ipython-genutils in c:\users\dude\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dude\appdata\roaming\python\python38\site-packages (from ipython-sql) (2.0.37)
Requirement already satisfied: six in c:\users\dude\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython in c:\users\dude\anaconda3\lib\site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: wcwidth in c:\users\dude\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17; python_version < "3.14" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in c:\users\dude\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (0.4.16)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dude\appdata\roaming\python\python38\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: pygments in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.6.1)
Requirement already satisfied: backcall in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (49.2.0.post20200714)
Requirement already satisfied: pickleshare in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.3)
Requirement already satisfied: traitlets>=4.2 in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (4.3.3)
Requirement already satisfied: jedi>=0.10 in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.17.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dude\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\dude\anaconda3\lib\site-packages (from jedi>=0.10->ipython->ipython-sql) (0.7.0)

In [6]:
country = "Canada"
%sql select * from INTERNATIONAL_STUDENT_TEST_SCORES where country = :country

 * sqlite:///SQLiteMagic.db
Done.

[('Canada', 'Cristionna', 'Wadmore', 46),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Canada', 'Carma', 'Schule', 49)]

In [7]:
test_score_distribution = %sql SELECT test_score as "Test_Score", count(*) as "Frequency" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;
test_score_distribution

 * sqlite:///SQLiteMagic.db
Done.

[(38, 2),
 (40, 1),
 (43, 2),
 (44, 2),
 (45, 8),
 (46, 7),
 (47, 4),
 (48, 14),
 (49, 8),
 (50, 10),
 (51, 8),
 (52, 8),
 (53, 8),
 (54, 5),
 (55, 4),
 (56, 1),
 (57, 2),
 (58, 4),
 (60, 1)]

In [11]:
!pip install seaborn
!pip install matplotlib

Requirement already satisfied: seaborn in c:\users\dude\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dude\anaconda3\lib\site-packages (from seaborn) (1.24.4)
Requirement already satisfied: matplotlib>=2.1.2 in c:\users\dude\anaconda3\lib\site-packages (from seaborn) (3.2.2)
Requirement already satisfied: scipy>=1.0.1 in c:\users\dude\anaconda3\lib\site-packages (from seaborn) (1.5.0)
Requirement already satisfied: pandas>=0.22.0 in c:\users\dude\anaconda3\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.9.0.post0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib>=2.1.2->seaborn) (2.4.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dude\anaconda3\lib\site-packages (from pandas>=0.22.0->seaborn) (2024.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dude\anaconda3\lib\site-packages (from pandas>=0.22.0->seaborn) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\dude\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=2.1.2->seaborn) (1.15.0)
Requirement already satisfied: matplotlib in c:\users\dude\anaconda3\lib\site-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dude\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dude\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [46]:
import pandas as pd
import numpy as np
import seaborn
import matplotlib

In [54]:
%%sql 

-- Feel free to experiment with the data set provided in this notebook for practice:
SELECT country, first_name, last_name, test_score FROM INTERNATIONAL_STUDENT_TEST_SCORES;

 * sqlite:///SQLiteMagic.db
Done.

[('United States', 'Marshall', 'Bernadot', 54),
 ('Ghana', 'Celinda', 'Malkin', 51),
 ('Ukraine', 'Guillermo', 'Furze', 53),
 ('Greece', 'Aharon', 'Tunnow', 48),
 ('Russia', 'Bail', 'Goodwin', 46),
 ('Poland', 'Cole', 'Winteringham', 49),
 ('Sweden', 'Emlyn', 'Erricker', 55),
 ('Russia', 'Cathee', 'Sivewright', 49),
 ('China', 'Barny', 'Ingerson', 57),
 ('Uganda', 'Sharla', 'Papaccio', 55),
 ('China', 'Stella', 'Youens', 51),
 ('Poland', 'Julio', 'Buesden', 48),
 ('United States', 'Tiffie', 'Cosely', 58),
 ('Poland', 'Auroora', 'Stiffell', 45),
 ('China', 'Clarita', 'Huet', 52),
 ('Poland', 'Shannon', 'Goulden', 45),
 ('Philippines', 'Emylee', 'Privost', 50),
 ('France', 'Madelina', 'Burk', 49),
 ('China', 'Saunderson', 'Root', 58),
 ('Indonesia', 'Bo', 'Waring', 55),
 ('China', 'Hollis', 'Domotor', 45),
 ('Russia', 'Robbie', 'Collip', 46),
 ('Philippines', 'Davon', 'Donisi', 46),
 ('China', 'Cristabel', 'Radeliffe', 48),
 ('China', 'Wallis', 'Bartleet', 58),
 ('Moldova', 'Arleen', 'Stailey', 38),
 ('Ireland', 'Mendel', 'Grumble', 58),
 ('China', 'Sallyann', 'Exley', 51),
 ('Mexico', 'Kain', 'Swaite', 46),
 ('Indonesia', 'Alonso', 'Bulteel', 45),
 ('Armenia', 'Anatol', 'Tankus', 51),
 ('Indonesia', 'Coralyn', 'Dawkins', 48),
 ('China', 'Deanne', 'Edwinson', 45),
 ('China', 'Georgiana', 'Epple', 51),
 ('Portugal', 'Bartlet', 'Breese', 56),
 ('Azerbaijan', 'Idalina', 'Lukash', 50),
 ('France', 'Livvie', 'Flory', 54),
 ('Malaysia', 'Nonie', 'Borit', 48),
 ('Indonesia', 'Clio', 'Mugg', 47),
 ('Brazil', 'Westley', 'Measor', 48),
 ('Philippines', 'Katrinka', 'Sibbert', 51),
 ('Poland', 'Valentia', 'Mounch', 50),
 ('Norway', 'Sheilah', 'Hedditch', 53),
 ('Papua New Guinea', 'Itch', 'Jubb', 50),
 ('Latvia', 'Stesha', 'Garnson', 53),
 ('Canada', 'Cristionna', 'Wadmore', 46),
 ('China', 'Lianna', 'Gatward', 43),
 ('Guatemala', 'Tanney', 'Vials', 48),
 ('France', 'Alma', 'Zavittieri', 44),
 ('China', 'Alvira', 'Tamas', 50),
 ('United States', 'Shanon', 'Peres', 45),
 ('Sweden', 'Maisey', 'Lynas', 53),
 ('Indonesia', 'Kip', 'Hothersall', 46),
 ('China', 'Cash', 'Landis', 48),
 ('Panama', 'Kennith', 'Digance', 45),
 ('China', 'Ulberto', 'Riggeard', 48),
 ('Switzerland', 'Judy', 'Gilligan', 49),
 ('Philippines', 'Tod', 'Trevaskus', 52),
 ('Brazil', 'Herold', 'Heggs', 44),
 ('Latvia', 'Verney', 'Note', 50),
 ('Poland', 'Temp', 'Ribey', 50),
 ('China', 'Conroy', 'Egdal', 48),
 ('Japan', 'Gabie', 'Alessandone', 47),
 ('Ukraine', 'Devlen', 'Chaperlin', 54),
 ('France', 'Babbette', 'Turner', 51),
 ('Czech Republic', 'Virgil', 'Scotney', 52),
 ('Tajikistan', 'Zorina', 'Bedow', 49),
 ('China', 'Aidan', 'Rudeyeard', 50),
 ('Ireland', 'Saunder', 'MacLice', 48),
 ('France', 'Waly', 'Brunstan', 53),
 ('China', 'Gisele', 'Enns', 52),
 ('Peru', 'Mina', 'Winchester', 48),
 ('Japan', 'Torie', 'MacShirrie', 50),
 ('Russia', 'Benjamen', 'Kenford', 51),
 ('China', 'Etan', 'Burn', 53),
 ('Russia', 'Merralee', 'Chaperlin', 38),
 ('Indonesia', 'Lanny', 'Malam', 49),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Czech Republic', 'Lari', 'Hillhouse', 48),
 ('China', 'Ossie', 'Woodley', 52),
 ('Macedonia', 'April', 'Tyer', 50),
 ('Vietnam', 'Madelon', 'Dansey', 53),
 ('Ukraine', 'Korella', 'McNamee', 52),
 ('Jamaica', 'Linnea', 'Cannam', 43),
 ('China', 'Mart', 'Coling', 52),
 ('Indonesia', 'Marna', 'Causbey', 47),
 ('China', 'Berni', 'Daintier', 55),
 ('Poland', 'Cynthia', 'Hassell', 49),
 ('Canada', 'Carma', 'Schule', 49),
 ('Indonesia', 'Malia', 'Blight', 48),
 ('China', 'Paulo', 'Seivertsen', 47),
 ('Niger', 'Kaylee', 'Hearley', 54),
 ('Japan', 'Maure', 'Jandak', 46),
 ('Argentina', 'Foss', 'Feavers', 45),
 ('Venezuela', 'Ron', 'Leggitt', 60),
 ('Russia', 'Flint', 'Gokes', 40),
 ('China', 'Linet', 'Conelly', 52),
 ('Philippines', 'Nikolas', 'Birtwell', 57),
 ('Australia', 'Eduard', 'Leipelt', 53)]